<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/customer-order-status-page.css">
    <title>Order Status</title>
</head>
<body style="background-color: #fef9a8;">
    <%- include('../partials/taskbar', {user_type: user_type}) %>
    <div class="giant active-order-card d-flex justify-content-center">
        <div class="pt-4"></div>
        <div class="card card-timeline px-2 border-none"> 
            <h1 style="text-align:center;">Order Status</h1>
            <ul class="bs4-order-tracking"> 
                <% if (order_summary.status == "Order Placed" || order_summary.status == "SENT" || order_summary.status == "order_placed") { %>
                    <li class="step active"> <div><i class="fas fa-user"></i></div> Order Placed </li> 
                <%} else { %>
                    <li class="step"> <div><i class="fas fa-user"></i></div> Order Placed </li> 
                <%}  %>
                <% if (order_summary.status == "In transit") { %>
                    <li class="step active"> <div><i class="fas fa-bread-slice"></i></div> In transit </li>
                <%} else { %>
                    <li class="step"> <div><i class="fas fa-bread-slice"></i></div> In transit </li> 
                <%}  %>
                <% if (order_summary.status == "Out for delivery") { %>
                    <li class="step active"> <div><i class="fas fa-truck"></i></div> Out for delivery </li>
                <%} else { %>
                    <li class="step"> <div><i class="fas fa-truck"></i></div> Out for delivery </li>
                <%}  %>
                <% if (order_summary.status == "Delivered") { %>
                    <li class="step active"> <div><i class="fas fa-birthday-cake"></i></div> Delivered </li> 
                <%} else { %>
                    <li class="step "> <div><i class="fas fa-birthday-cake"></i></div> Delivered </li> 
                <%}  %>
            </ul> 
        <!-- </div> -->

        <!-- <div class="card" style="font-size: 25px; margin: 25px; padding: 50px;"> -->
            <table class="mytable">
                <caption style="caption-side: top;">Order Details</caption>
                <tr>
                    <td>Restaurant</td>
                    <td><%= order_summary.restaurant_name %></td>
                </tr>
                <tr>
                    <td>Restaurant Contact</td>
                    <td ><%= batch_result[1].contact %></td>
                </tr>
                <tr>
                    <td>Order Placed</td>
                    <td><%= order_summary.created_at %></td>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td><%= order_summary.mode %></td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td><%= batch_result[0].user_name %></td>
                </tr>
                <tr>
                    <td>Customer Address</td>
                    <td><%= batch_result[0].address %></td>
                </tr>
                <tr>
                    <td>Customer Contact</td>
                    <td><%= batch_result[0].contact %></td>
                </tr>
                <tr>
                    <td>Driver</td>
                    <% if (batch_result.length > 2) { %>
                        <td><%= batch_result[2].user_name %></td>
                    <%} else { %>
                        <td>Not Assigned</td> 
                    <%}  %>
                </tr>
                <tr>
                    <td>Driver Contact</td>
                    <% if (batch_result.length > 2) { %>
                        <td><%= batch_result[2].contact %></td>
                    <%} else { %>
                        <td>Not Assigned</td> 
                    <%}  %>
                </tr>
            </table><br>

            <table class="mytable">
                <caption style="caption-side: top;">Order Items</caption>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </tr>
                <% for(var i=0; i < order_items.length; i++) { %>
                    <tr>
                        <td><%= order_items[i].item_name %></td>
                        <td><%= "$"+order_items[i].item_price %></td>
                        <td><%= order_items[i].quantity %></td> 
                    </tr>
                <% } %>
            </table><br>

            <table class="mytable">
                <caption style="caption-side: top;">Order Summary</caption>
                <tr>
                    <td>Items Price</td>
                    <td><%= "$"+order_summary.items_price %></td>
                </tr>
                <tr>
                    <td>Taxes</td>
                    <td><%= "$"+order_summary.taxes %></td>
                </tr>
                <tr>
                    <td>Driver Tip</td>
                    <td><%= "$"+order_summary.total_tip %></td>
                </tr>
                <tr>
                    <td>Surge Fees</td>
                    <td><%= "$"+order_summary.surge_fee %></td>
                </tr>
                <tr>
                    <td>Final Price</td>
                    <td><%= "$"+order_summary.final_price %></td>
                </tr>
            </table>

            <div class="pt-5"></div>
    
            
            <div class="contact-us text-center">
                <p class="h6">Facing an issue with the order?  <a href="/contact-us-page.html" style="color: #850509;">Contact us.</a> </p> </p>
            </div>
    
            <div class="pt-5"></div>
    
    
            <div class="leave-review text-center">
                <p class="h6">What do you think about the order? Leave a <a href="/customer-review.html" style="color: #850509;">review</a> </p> </p>
            </div>
        </div>
        
    </div>
</body>
</html>